<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.dayssince.wordle-updater</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/alex/Sites/dayssince/scripts/daily-update.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/alex/Sites/dayssince</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>8</integer>
    <key>Minute</key>
    <integer>15</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/alex/Library/Logs/dayssince-wordle.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/alex/Library/Logs/dayssince-wordle.error.log</string>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
